# PANDAS Project Exercise

By - A.Yash Kumar Rao

# Guidelines: -

1. This Assignment is mandatory for everyone.

2. It is mandatory to submit the answer with the screen shot of the output you have received. Otherwise, no marks will be given.

3. If anyone fails to submit the assignment within the last date. His/her assignment submission will not be evaluated and will be allotted minus marks also.

# Questions:

1. How to import pandas and check the version?

In [2]:
import numpy as np  # optional
import pandas as pd
print(pd.__version__)

1.0.5

2. How to create a series from a list, numpy array and dict?

In [6]:
# Inputs
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

# Solution
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)
print(ser3.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64

3. How to convert the index of a series into a column of a dataframe?

In [7]:
# Input
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

# Solution
df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

4. How to combine many series to form a dataframe?

In [9]:
# Input
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

# Solution 1
df = pd.concat([ser1, ser2], axis=1)

# Solution 2
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

5. How to assign name to the series’ index?

In [10]:
# Input
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

# Solution
ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

6. How to get the items of series A not present in series B?

In [11]:
# Input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# Solution
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

7. How to get the items not common to both series A and series B?

In [12]:
# Input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# Solution
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [14]:
# Input
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

# Solution
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])

9. How to get frequency counts of unique items of a series?

In [15]:
# Input
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

# Solution
ser.value_counts()

h    6
a    5
g    5
d    4
b    3
e    3
c    2
f    2
dtype: int64

10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

In [16]:
# Input
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

# Solution
print("Top 2 Freq:", ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

Top 2 Freq: 3    7
2    2
1    2
4    1
dtype: int64

0         2
1         3
2         3
3         2
4         3
5     Other
6     Other
7         3
8         3
9         3
10        3
11    Other
dtype: object

11. How to bin a numeric series to 10 groups of equal size?

0    0.947327
1    0.965366
2    0.481501
3    0.146203
4    0.302721
dtype: float64

0    9th
1    9th
2    6th
3    2nd
4    5th
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

12. How to convert a numpy array to a dataframe of given shape? Reshape the series ser into a dataframe with 7 rows and 5 columns

In [18]:
# Input
ser = pd.Series(np.random.randint(1, 10, 35))

# Solution
df = pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  8  6  4  6  8
1  2  1  7  6  6
2  6  7  3  1  7
3  6  2  8  5  2
4  2  9  1  8  7
5  3  6  7  7  1
6  5  4  8  9  1

13. How to find the positions of numbers that are multiples of 3 from a series?

In [41]:
# Input
a = pd.Series(np.random.randint(1, 10, 7))
a

# Solution
print(a)
np.argwhere(a % 3==0)

0    6
1    9
2    2
3    7
4    8
5    8
6    9
dtype: int32

ValueError: Length of passed values is 1, index implies 7.

14. How to extract items at given positions from a series? From ser, extract the items at positions in list p os.

In [6]:
# Input
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

# Solution
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

15. How to stack two series vertically and horizontally ?

In [7]:
# Input
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# Output
# Vertical
ser1.append(ser2)

# Horizontal
df = pd.concat([ser1, ser2], axis=1)
print(df)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

16. How to convert the first character of each element in a series to uppercase?

In [8]:
# Input
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

# Solution 1
ser.map(lambda x: x.title())

# Solution 2
ser.map(lambda x: x[0].upper() + x[1:])

# Solution 3
pd.Series([i.title() for i in ser])

0     How
1      To
2    Kick
3    Ass?
dtype: object

17. How to calculate the number of characters in each word in a series?

In [11]:
# Input
ser = pd.Series(['how', 'to', 'learn', 'pandas?'])

# Solution
ser.map(lambda x: len(x))

0    3
1    2
2    5
3    7
dtype: int64

18. How to convert a series of date-strings to a timeseries?

In [12]:
# Input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Solution 1
from dateutil.parser import parse
ser.map(lambda x: parse(x))

# Solution 2
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

19. How to get the day of month, week number, day of year and day of week from a series of date strings?

In [4]:
# Input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Solution 1
from dateutil.parser import parse
ser.map(lambda x: parse(x))

# Solution 2
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

20. How to compute the autocorrelations of a numeric series?

In [5]:
# Input
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

# Solution
dd = np.diff(np.sign(np.diff(ser)))
peak_locs = np.where(dd == -2)[0] + 1
peak_locs

array([1, 5, 7], dtype=int64)

21. How to import only specified columns from a csv file?

22. How to rename a specific columns in a dataframe? (Case: Rename the column ‘T ype’ as ‘CarType’ in df and replace the ‘.’ in column names with ‘_’.)

In [18]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.columns)
#> Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
#>        'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
#>        'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
#>        'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
#>        'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
#>        'Make'],
#>       dtype='object')

Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

23. How to check if a dataframe has any missing values?

In [19]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
df.isnull().values.any()

True

24. How to count the number of missing values in each column?

In [20]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
n_missings_each_col = df.apply(lambda x: x.isnull().sum())
n_missings_each_col.argmax()

23

25. How to replace missing values of multiple numeric columns with the mean?(Case: Replace missing values in Min.Price and Max.Price columns of ‘df’ dataframe with their respective mean.)

In [21]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
df_out = df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x: x.fillna(x.mean()))
print(df_out.head())

   Min.Price  Max.Price
0  12.900000  18.800000
1  29.200000  38.700000
2  25.900000  32.300000
3  17.118605  44.600000
4  17.118605  21.459091

26. How to create a primary key index by combining relevant columns? (Case: In d f, Replace NaNs with ‘missing’ in columns 'Manufacturer', ' Model' and 'Type' and create a index as a combination of these three columns and check if the index is a primary key.)

In [22]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])

# Solution
df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')
df.index = df.Manufacturer + '_' + df.Model + '_' + df.Type
print(df.index.is_unique)

True

27. How to create one-hot encodings of a categorical variable (dummy variables)? (Case: Get one-hot encodings for column 'a' in the dataframe df and append it as columns.)

In [23]:
# Input
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))

# Solution
df_onehot = pd.concat([pd.get_dummies(df['a']), df[list('bcde')]], axis=1)
print(df_onehot)

   0  5  10  15  20   b   c   d   e
0  1  0   0   0   0   1   2   3   4
1  0  1   0   0   0   6   7   8   9
2  0  0   1   0   0  11  12  13  14
3  0  0   0   1   0  16  17  18  19
4  0  0   0   0   1  21  22  23  24

28. How to normalize all columns in a dataframe?

In [24]:
# Input
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

# Solution Q1
out1 = df.apply(lambda x: ((x - x.mean())/x.std()).round(2))
print('Solution Q1\n',out1)

# Solution Q2
out2 = df.apply(lambda x: ((x.max() - x)/(x.max() - x.min())).round(2))
print('Solution Q2\n', out2)

Solution Q1
       0     1     2     3     4     5     6     7     8     9
0 -1.10 -0.55 -1.14  0.17  0.46 -0.31 -0.83  0.21  0.13 -1.18
1 -0.58  0.82  0.17  0.65  0.61  0.02  0.89  0.17  0.48 -1.63
2  0.90  1.08  1.49  0.00  0.01 -0.04 -0.02  0.94  1.07  0.63
3  0.87 -1.66  0.05  1.03  0.23  0.19  0.73 -0.87  0.60  1.24
4  0.93 -0.81  1.23  1.20 -0.52 -1.13 -1.03  0.24 -1.04 -0.27
5 -1.01  0.71 -0.04 -1.40 -2.24 -1.40 -0.02 -2.05 -1.13  0.60
6 -1.01  0.86 -0.46 -1.43  0.87  1.12 -1.25  0.45 -1.25 -0.12
7  0.99 -0.44 -1.31 -0.23  0.57  1.55  1.54  0.90  1.15  0.75
Solution Q2
       0     1     2     3     4     5     6     7     8     9
0  1.00  0.59  0.94  0.39  0.13  0.63  0.85  0.24  0.43  0.84
1  0.75  0.09  0.47  0.21  0.08  0.52  0.23  0.26  0.28  1.00
2  0.04  0.00  0.00  0.45  0.28  0.54  0.56  0.00  0.04  0.21
3  0.06  1.00  0.52  0.06  0.20  0.46  0.29  0.60  0.23  0.00
4  0.03  0.69  0.09  0.00  0.45  0.91  0.92  0.23  0.91  0.53
5  0.96  0.14  0.55  0.99  1.00  1.00  0.56  1.00  0.95  0.22
6  0.96  0.08  0.70  1.00  0.00  0.15  1.00  0.16  1.00  0.47
7  0.00  0.55  1.00  0.55  0.10  0.00  0.00  0.01  0.00  0.17

29. How to join two dataframes by 2 columns so they have only the common rows?

In [31]:
# Input
dummy_data1 = {
        'id': ['1', '2', '3', '4', '5'],
        'Feature1': ['A', 'C', 'E', 'G', 'I'],
        'Feature2': ['B', 'D', 'F', 'H', 'J']}

df1 = pd.DataFrame(dummy_data1, columns = ['id', 'Feature1', 'Feature2'])
print(df1)

dummy_data2 = {
        'id': ['1', '2', '6', '7', '8'],
        'Feature1': ['K', 'M', 'O', 'Q', 'S'],
        'Feature2': ['L', 'N', 'P', 'R', 'T']}

df2 = pd.DataFrame(dummy_data2, columns = ['id', 'Feature1', 'Feature2'])
print(df2)

# Solution
df_row = pd.concat([df1, df2])
df_row

  id Feature1 Feature2
0  1        A        B
1  2        C        D
2  3        E        F
3  4        G        H
4  5        I        J
  id Feature1 Feature2
0  1        K        L
1  2        M        N
2  6        O        P
3  7        Q        R
4  8        S        T

  id Feature1 Feature2
0  1        A        B
1  2        C        D
2  3        E        F
3  4        G        H
4  5        I        J
0  1        K        L
1  2        M        N
2  6        O        P
3  7        Q        R
4  8        S        T

30. How to remove rows from a dataframe that are present in another dataframe?

In [32]:
df1 = pd.DataFrame({'fruit': ['apple', 'orange', 'banana'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.arange(9)})

df2 = pd.DataFrame({'fruit': ['apple', 'orange', 'pine'] * 2,
                    'weight': ['high', 'medium'] * 3,
                    'price': np.arange(6)})


# Solution
print(df1[~df1.isin(df2).all(1)])

    fruit  weight  price
2  banana     low      2
3   apple    high      3
4  orange  medium      4
5  banana     low      5
6   apple    high      6
7  orange  medium      7
8  banana     low      8